<!DOCTYPE html>
<html>
<head>
	<title>Smart Resume</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/resume.css')}}">
	<link rel="icon" type="image/gif" href="{{ url_for('static', filename='image/icon.png') }}">
</head>

<script type="text/javascript">
	function change_authors(selectObject, checkboxObject, places, user_places){
		var i, L = selectObject.options.length - 1;

		for(i = L; i >= 0; i--) {
			selectObject.remove(i);
		}

		if (checkboxObject.checked == false){
			var opt = document.createElement('option');
			opt.innerHTML = 'Nome';
			opt.value = ""
			opt.selected
			opt.disabled
			opt.hidden
			selectObject.appendChild(opt);
			for(p = 0; p < Object.keys(places).length; p++){
				var opt = document.createElement('option'); 
				opt.innerHTML = Object.values(places)[p]['Autor'];
				selectObject.appendChild(opt);	
			}	
		}
		else if(checkboxObject.checked == true){
			var opt = document.createElement('option');
			opt.innerHTML = 'Nome';
			opt.value = ""
			opt.selected
			opt.disabled
			opt.hidden
			selectObject.appendChild(opt);
			for(p = 0; p < Object.keys(user_places).length; p++){
				var opt = document.createElement('option'); 
				opt.innerHTML = Object.values(user_places)[p]['Autor'];
				selectObject.appendChild(opt);	
			}
		}
	}
</script>

<body>

<div class="topnav">
	<a href="http://127.0.0.1:5000/welcome?person={{person}}">Home</a>
	<a href="http://127.0.0.1:5000/resume?person={{person}}">Resumo</a>
	<a href="http://127.0.0.1:5000/word_operation?person={{person}}">Operações</a>
	<a href="http://127.0.0.1:5000/new_author?person={{person}}">Autores P.</a>
	<a href="http://127.0.0.1:5000/info?person={{person}}">Sobre</a>	
</div>
	
<div class = "logo">
	<img class = "img" src="{{ url_for('static', filename='image/logo.png') }}">
</div>

<form method="POST" action="http://127.0.0.1:5000/resume?person={{person}}"> 
	<div class="main">
		<div class = "content">
			<p align="left">
				<label for = "user_authors_check">Usar Autores Personalizados:</label>
				<input type="checkbox" name="user_authors_check" id="user_authors_check" value="1" 
				onchange="change_authors(autor, this, {{places}}, {{user_places}});"><br>
			</p>

			<input type="hidden" name="user_authors_check" value="0">

			<p align="left">
				<label for = "autor">Selecione um Autor(a): </label>
				<select name = "autor" id="autor" required>
			    <option value = "" selected disabled hidden>Nome</option>
			    {% for p in places %}
			  	<option>{{ places[p]["Autor"] }}</option>
				{% endfor %}
				</select>
			</p>
			<p align="left">
				<label for ="input_text">Texto a ser resumido:</label></br>
				<textarea id="input_text" name="input_text">{{input_text}}</textarea>
			</p>

			<p align="left"> 
	            <input type="submit" value="GO!" /> 
        	</p>

			<p align="left">
				<label for ="output_text">Resumo criado:</label></br>
				<textarea id="output_text" name="output_text">{{output_text}}</textarea>
			</p>
		</div>
	</div>
</form>
</body>
</html>